In [1]:
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt
import time
import yfinance as yf

In [2]:
df = pd.read_csv("tatachem.csv")

In [3]:
df.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2021-09-29 09:15:00+05:30,904.299988,904.299988,899.250000,900.400024,900.400024,0
1,2021-09-29 09:16:00+05:30,899.450012,900.049988,898.849976,899.650024,899.650024,31145
2,2021-09-29 09:17:00+05:30,901.000000,901.000000,896.099976,896.950012,896.950012,23329
3,2021-09-29 09:18:00+05:30,896.000000,896.700012,895.400024,896.700012,896.700012,24065
4,2021-09-29 09:19:00+05:30,897.000000,898.400024,896.450012,896.450012,896.450012,11013

In [4]:
df.tail()

,Datetime,Open,High,Low,Close,Adj Close,Volume
1551,2021-10-05 10:06:00+05:30,935.950012,936.200012,934.700012,936.200012,936.200012,13395
1552,2021-10-05 10:07:00+05:30,935.900024,937.450012,935.900024,936.849976,936.849976,13277
1553,2021-10-05 10:08:00+05:30,936.500000,936.900024,935.000000,936.799988,936.799988,10620
1554,2021-10-05 10:09:00+05:30,936.099976,938.000000,936.049988,938.000000,938.000000,8813
1555,2021-10-05 10:10:58+05:30,938.099976,938.099976,938.099976,938.099976,938.099976,0

In [5]:
df= df["High"].copy()

In [6]:
df

0       904.299988
1       900.049988
2       901.000000
3       896.700012
4       898.400024
           ...
1551    936.200012
1552    937.450012
1553    936.900024
1554    938.000000
1555    938.099976
Name: High, Length: 1556, dtype: float64

In [7]:
df.describe()

count    1556.000000
mean      918.060316
std         9.585394
min       896.700012
25%       912.000000
50%       915.000000
75%       922.950012
max       952.000000
Name: High, dtype: float64

In [8]:
n = int(len(df)*0.8)
train = df[:n]
test = df[n:]

In [9]:
print(len(train))
print(len(test))

1244
312

In [10]:
from statsmodels.tsa.arima_model import ARIMA

In [11]:
model = ARIMA(df, order=(4,1,3))
result = model.fit(disp=0)

C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

In [12]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             ARIMA Model Results
==============================================================================
Dep. Variable:                 D.High   No. Observations:                 1555
Model:                 ARIMA(4, 1, 3)   Log Likelihood               -2179.922
Method:                       css-mle   S.D. of innovations              0.983
Date:                Tue, 05 Oct 2021   AIC                           4377.844
Time:                        14:28:36   BIC                           4425.987
Sample:                             1   HQIC                          4395.747

================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.0131      0.009      1.412      0.158      -0.005       0.031
ar.L1.D.High    -0.0468      0.078     -0.603      0.546      -0.199       0.105
ar.L2.D.High     0.2241      0.051      4.434      0.000       0.125       0.323
ar.L3.D.High     0.8840      0.072     12.315      0.000       0.743       1.025
ar.L4.D.High    -0.0750      0.030     -2.528      0.011      -0.133      -0.017
ma.L1.D.High     0.1522      0.072      2.107      0.035       0.011       0.294
ma.L2.D.High    -0.2502      0.049     -5.062      0.000      -0.347      -0.153
ma.L3.D.High    -0.9019      0.076    -11.827      0.000      -1.051      -0.752
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -0.6207           -0.8475j            1.0505           -0.3506
AR.2           -0.6207           +0.8475j            1.0505            0.3506
AR.3            1.0050           -0.0000j            1.0050           -0.0000
AR.4           12.0289           -0.0000j           12.0289           -0.0000
MA.1            1.0000           -0.0000j            1.0000           -0.0000
MA.2           -0.6387           -0.8371j            1.0530           -0.3537
MA.3           -0.6387           +0.8371j            1.0530            0.3537
-----------------------------------------------------------------------------
"""

In [13]:
step = 25 
fc , se, conf = result.forecast(step )

In [14]:
fc

array([937.94960053, 937.7988831 , 937.99868828, 937.81531151,
       937.74688223, 937.89710903, 937.69783361, 937.69425874,
       937.78788911, 937.59545732, 937.63740545, 937.67554315,
       937.50620266, 937.57436596, 937.56398056, 937.42735939,
       937.50456209, 937.45622384, 937.35596748, 937.42850171,
       937.35430126, 937.28920241, 937.34744241, 937.25927602,
       937.22464716])

In [15]:
se

array([0.98256495, 1.46456976, 1.80529514, 2.09479234, 2.35371874,
       2.57306782, 2.77983609, 2.9725263 , 3.14428975, 3.31183663,
       3.46915751, 3.61372973, 3.75674029, 3.89113043, 4.01750998,
       4.14304097, 4.26106066, 4.37410045, 4.48622517, 4.59186299,
       4.6944956 , 4.79586092, 4.89175628, 4.98589505, 5.07837031])

In [16]:
mse = np.mean(se)

<pandas._libs.properties.CachedProperty object at 0x000002055D306B00>

In [18]:
#df_d=df.to_numpy()

In [19]:
#df_d

In [20]:
#df_d=np.concatenate((df_d,fc))

In [21]:
#plt.plot(df_d)
#plt.plot(df)

#plt.show()

In [22]:
import plotly.express as px

In [23]:
df_d

NameError: name 'df_d' is not defined

In [ ]:
fig = px.line(df_d)
fig.show()
fig = px.line(df)
fig.show()

In [ ]:
dffc= pd.DataFrame(data=fc)
dffc

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [ ]:
test = pd.DataFrame(data=df[-25:])

In [ ]:
test

In [ ]:
mse = mean_squared_error(test, dffc)
mae = mean_absolute_error(test,dffc)
r2 = r2_score(test, dffc)

In [ ]:
mse

In [ ]:
mae

In [ ]:
r2