In [1]:
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt
import time
import yfinance as yf

In [2]:
df = pd.read_csv("tatamotors.csv")

In [3]:
df.head()

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume
0,2020-12-07 09:15:00+05:30,184.449997,186.449997,183.050003,185.350006,185.350006,0
1,2020-12-07 10:15:00+05:30,185.199997,185.550003,184.399994,184.949997,184.949997,6042838
2,2020-12-07 11:15:00+05:30,185.199997,185.300003,184.050003,184.699997,184.699997,3673533
3,2020-12-07 12:15:00+05:30,184.500000,185.300003,184.350006,184.699997,184.699997,4050294
4,2020-12-07 13:15:00+05:30,184.649994,184.899994,182.699997,183.000000,183.000000,6972677

In [4]:
df.tail()

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume
1436,2021-10-05 14:15:00+05:30,347.950012,348.000000,345.000000,345.049988,345.049988,3082221
1437,2021-10-05 15:15:00+05:30,345.049988,345.149994,344.350006,345.000000,345.000000,1656542
1438,2021-10-06 09:15:00+05:30,347.000000,348.700012,339.000000,340.899994,340.899994,7268293
1439,2021-10-06 10:15:00+05:30,340.899994,341.750000,339.149994,341.500000,341.500000,1107938
1440,2021-10-06 10:29:40+05:30,341.600006,341.600006,341.600006,341.600006,341.600006,0

In [5]:
df= df["High"].copy()

In [6]:
df

0       186.449997
1       185.550003
2       185.300003
3       185.300003
4       184.899994
           ...
1436    348.000000
1437    345.149994
1438    348.700012
1439    341.750000
1440    341.600006
Name: High, Length: 1441, dtype: float64

In [7]:
df.describe()

count    1441.000000
mean      296.794761
std        46.942573
min       160.500000
25%       293.500000
50%       307.750000
75%       325.700012
max       360.600006
Name: High, dtype: float64

In [8]:
n = int(len(df)*0.8)
train = df[:n]
test = df[n:]

In [9]:
print(len(train))
print(len(test))

1152
289

In [10]:
from statsmodels.tsa.arima_model import ARIMA

In [27]:
model = ARIMA(df, order=(2,1,3))
result = model.fit(disp=0)

C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

In [28]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             ARIMA Model Results
==============================================================================
Dep. Variable:                 D.High   No. Observations:                 1440
Model:                 ARIMA(2, 1, 3)   Log Likelihood               -3615.293
Method:                       css-mle   S.D. of innovations              2.977
Date:                Wed, 06 Oct 2021   AIC                           7244.586
Time:                        10:32:17   BIC                           7281.492
Sample:                             1   HQIC                          7258.363

================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.1079      0.085      1.263      0.207      -0.060       0.275
ar.L1.D.High    -1.7969      0.003   -695.986      0.000      -1.802      -1.792
ar.L2.D.High    -0.9961      0.003   -392.436      0.000      -1.001      -0.991
ma.L1.D.High     1.8757      0.028     67.152      0.000       1.821       1.930
ma.L2.D.High     1.1528      0.050     23.020      0.000       1.055       1.251
ma.L3.D.High     0.1021      0.028      3.657      0.000       0.047       0.157
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -0.9020           -0.4363j            1.0019           -0.4283
AR.2           -0.9020           +0.4363j            1.0019            0.4283
MA.1           -0.9164           -0.4424j            1.0176           -0.4284
MA.2           -0.9164           +0.4424j            1.0176            0.4284
MA.3           -9.4597           -0.0000j            9.4597           -0.5000
-----------------------------------------------------------------------------
"""

In [29]:
step = 35 
fc , se, conf = result.forecast(step )

In [30]:
fc

array([341.72136375, 341.21669171, 342.39530674, 341.18937623,
       342.59150325, 341.68247639, 342.32845194, 342.48240815,
       341.97151649, 343.1454015 , 341.95416585, 343.33459923,
       342.44991604, 343.07375765, 343.24323739, 342.72649936,
       343.89542654, 342.71892329, 344.07782249, 343.21715904,
       343.81928995, 344.00385536, 343.48163613, 344.64538546,
       343.48364622])

In [31]:
se

array([ 2.97716489,  4.37926204,  5.45755515,  6.34989598,  7.11986405,
        7.8378576 ,  8.46619586,  9.07993398,  9.63143619, 10.16696169,
       10.6726912 , 11.1479465 , 11.61959346, 12.05249387, 12.49106697,
       12.89771239, 13.30222522, 13.69274595, 14.06630104, 14.44291241,
       14.79353144, 15.15282727, 15.48990658, 15.82817644, 16.15784783])

In [32]:
mse = np.mean(se)
mse

11.010964240031733

In [33]:
#df_d=df.to_numpy()

In [34]:
#df_d

In [35]:
#df_d=np.concatenate((df_d,fc))

In [36]:
#plt.plot(df_d)
#plt.plot(df)

#plt.show()

In [37]:
import plotly.express as px

In [38]:
#df_d

NameError: name 'df_d' is not defined

In [48]:
fig = px.line(df_d)
fig.show()
fig = px.line(df)
fig.show()

NameError: name 'df_d' is not defined

In [40]:
dffc= pd.DataFrame(data=fc)
dffc

             0
0   341.721364
1   341.216692
2   342.395307
3   341.189376
4   342.591503
5   341.682476
6   342.328452
7   342.482408
8   341.971516
9   343.145401
10  341.954166
11  343.334599
12  342.449916
13  343.073758
14  343.243237
15  342.726499
16  343.895427
17  342.718923
18  344.077822
19  343.217159
20  343.819290
21  344.003855
22  343.481636
23  344.645385
24  343.483646

In [41]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [42]:
test = pd.DataFrame(data=df[-25:])

In [43]:
test

            High
1416  333.850006
1417  332.149994
1418  331.450012
1419  331.850006
1420  331.450012
1421  337.200012
1422  336.950012
1423  333.600006
1424  342.200012
1425  341.450012
1426  342.149994
1427  343.200012
1428  342.899994
1429  342.600006
1430  342.600006
1431  344.549988
1432  347.000000
1433  347.000000
1434  351.500000
1435  350.649994
1436  348.000000
1437  345.149994
1438  348.700012
1439  341.750000
1440  341.600006

In [44]:
mse = mean_squared_error(test, dffc)
mae = mean_absolute_error(test,dffc)
r2 = r2_score(test, dffc)

In [45]:
mse

32.26567931469538

In [46]:
mae

4.412691163944085

In [47]:
r2

0.1139980704686564