In [1]:
from pandas_datareader import data as pdr
import pandas as pd
import numpy as np
from datetime import date

import yfinance as yf
#yf.pdr_override()  # <== that's all it takes :-)

sym = "INFY"

In [ ]:
# download dataframe
data = pdr.get_data_yahoo(sym+".NS", start=date(2019,8,13),end=date(2021,9,13))
df = pd.DataFrame(data)
df.to_csv(sym+".csv")

In [4]:
data = yf.download(tickers='IRCTC.NS', period='1y', interval='1h')
data.to_csv("IRCTC.csv")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data = yf.download(tickers='IRCTC.NS', period='1y', interval='1d')

data

In [8]:
var = yf.Ticker("IRCTC.NS")

In [11]:
var.history(period="1m")

- IRCTC.NS: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []