In [1]:
from pandas_datareader import data as pdr
import pandas as pd
from datetime import date

import yfinance as yf
#yf.pdr_override()  # <== that's all it takes :-)

sym = "INFY"

In [ ]:
# download dataframe
data = pdr.get_data_yahoo(sym+".NS", start=date(2019,8,13),end=date(2021,9,13))
df = pd.DataFrame(data)
df.to_csv(sym+".csv")

In [4]:
data = yf.download(tickers='IRCTC.NS', period='1y', interval='1h')
data.to_csv("IRCTC.csv")

[*********************100%***********************]  1 of 1 completed

In [3]:
data = yf.download(tickers='IRCTC.NS', period='1y', interval='1d')
data.to_json("IRCTC.json")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
2020-10-26 09:15:00+05:30,1330.000000,1330.900024,1319.349976,1322.000000,1322.000000,0
2020-10-26 10:15:00+05:30,1322.000000,1324.949951,1321.000000,1321.949951,1321.949951,11181
2020-10-26 11:15:00+05:30,1321.949951,1322.000000,1318.000000,1319.199951,1319.199951,22152
2020-10-26 12:15:00+05:30,1319.949951,1327.949951,1318.000000,1326.900024,1326.900024,36420
2020-10-26 13:15:00+05:30,1326.800049,1326.800049,1319.000000,1319.949951,1319.949951,18454
...,...,...,...,...,...,...
2021-10-25 11:15:00+05:30,4129.950195,4189.350098,4073.600098,4104.799805,4104.799805,690685
2021-10-25 12:15:00+05:30,4103.000000,4150.000000,4083.250000,4130.350098,4130.350098,368161
2021-10-25 13:15:00+05:30,4130.350098,4132.500000,4053.199951,4064.949951,4064.949951,415712
2021-10-25 14:15:00+05:30,4063.949951,4107.950195,4000.449951,4004.000000,4004.000000,949803
2021-10-25 15:15:00+05:30,4021.399902,4034.800049,4000.850098,4029.000000,4029.000000,474218

In [10]:
var = yf.Ticker("IRCTC.NS")

In [11]:
var.history(period="1m")

- IRCTC.NS: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []