In [1]:
import yfinance as yf

In [2]:
import pandas as pd

In [3]:
var = yf.Ticker("IRCTC.NS")

In [8]:
var.history(period="1d",interval="1m")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-10-18 11:53:00+05:30,5717.399902,5717.399902,5717.399902,5717.399902,0,0,0
2021-10-18 11:54:00+05:30,5710.049805,5715.000000,5710.000000,5715.000000,13737,0,0
2021-10-18 11:55:00+05:30,5715.899902,5717.950195,5712.399902,5717.600098,3029,0,0
2021-10-18 11:56:00+05:30,5718.000000,5718.000000,5705.600098,5705.600098,6640,0,0
2021-10-18 11:57:00+05:30,5705.049805,5711.950195,5705.000000,5709.649902,4167,0,0
...,...,...,...,...,...,...,...
2021-10-18 15:25:00+05:30,5930.200195,5947.500000,5928.200195,5947.500000,57443,0,0
2021-10-18 15:26:00+05:30,5948.250000,5954.100098,5941.299805,5950.000000,66155,0,0
2021-10-18 15:27:00+05:30,5950.250000,5962.600098,5950.250000,5955.049805,51625,0,0
2021-10-18 15:28:00+05:30,5957.000000,5966.750000,5954.950195,5964.000000,51406,0,0
2021-10-18 15:29:00+05:30,5960.100098,5965.000000,5954.700195,5960.000000,54445,0,0