In [3]:
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt
import time
import yfinance as yf

In [130]:
df = pd.read_csv("INFY.csv")

In [131]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-01-01,220.824997,222.324997,217.781250,218.356247,164.314651,2001624
1,2008-01-02,218.750000,219.918747,214.050003,218.537506,164.451065,6155056
2,2008-01-03,224.625000,224.625000,211.250000,213.631256,160.759064,12425960
3,2008-01-04,218.425003,218.425003,210.000000,211.862503,159.428085,6166320
4,2008-01-07,208.750000,211.250000,202.875000,204.606247,153.967712,13254200

In [132]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3366,2021-09-13,1683.000000,1701.500000,1675.199951,1691.900024,1691.900024,4662374
3367,2021-09-14,1695.949951,1695.949951,1678.599976,1686.150024,1686.150024,4945167
3368,2021-09-15,1693.250000,1715.099976,1690.199951,1711.449951,1711.449951,4062344
3369,2021-09-16,1715.199951,1719.250000,1691.449951,1702.250000,1702.250000,3246568
3370,2021-09-17,1697.000000,1718.000000,1684.449951,1691.300049,1691.300049,7454864

In [133]:
df= df[["Close"]].copy()

In [134]:
df

            Close
0      218.356247
1      218.537506
2      213.631256
3      211.862503
4      204.606247
...           ...
3366  1691.900024
3367  1686.150024
3368  1711.449951
3369  1702.250000
3370  1691.300049

[3371 rows x 1 columns]

In [135]:
df.describe()

             Close
count  3371.000000
mean    517.568689
std     295.694185
min     137.787506
25%     331.696869
50%     463.325012
75%     602.837494
max    1741.650024

In [136]:
n = int(len(df)*0.8)
train = df.Close[:n]
test = df.Close[n:]

In [137]:
print(len(train))
print(len(test))

2696
675

In [138]:
from statsmodels.tsa.arima_model import ARIMA

In [ ]:
model = ARIMA(df.Close, order=(5,1,13))
result = model.fit(disp=0)

C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

In [ ]:
result.summary()

In [ ]:
step = 30 
fc , se, conf = result.forecast(step )

In [ ]:
fc

In [ ]:

plt.plot(fc)