In [1]:
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt
import time
import yfinance as yf

Matplotlib is building the font cache; this may take a moment.

In [2]:
df = pd.read_csv("tatamotors.csv")

In [3]:
df.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2020-12-07 09:15:00+05:30,184.449997,186.449997,183.050003,185.350006,185.350006,0
1,2020-12-07 10:15:00+05:30,185.199997,185.550003,184.399994,184.949997,184.949997,6042838
2,2020-12-07 11:15:00+05:30,185.199997,185.300003,184.050003,184.699997,184.699997,3673533
3,2020-12-07 12:15:00+05:30,184.500000,185.300003,184.350006,184.699997,184.699997,4050294
4,2020-12-07 13:15:00+05:30,184.649994,184.899994,182.699997,183.000000,183.000000,6972677

In [4]:
df.tail()

,Datetime,Open,High,Low,Close,Adj Close,Volume
1436,2021-10-05 14:15:00+05:30,347.950012,348.000000,345.000000,345.049988,345.049988,3082221
1437,2021-10-05 15:15:00+05:30,345.049988,345.149994,344.350006,345.000000,345.000000,1656542
1438,2021-10-06 09:15:00+05:30,347.000000,348.700012,339.000000,340.899994,340.899994,7268293
1439,2021-10-06 10:15:00+05:30,340.899994,341.750000,339.149994,341.500000,341.500000,1107938
1440,2021-10-06 10:29:40+05:30,341.600006,341.600006,341.600006,341.600006,341.600006,0

In [5]:
df= df["High"].copy()

In [6]:
df

0       186.449997
1       185.550003
2       185.300003
3       185.300003
4       184.899994
           ...
1436    348.000000
1437    345.149994
1438    348.700012
1439    341.750000
1440    341.600006
Name: High, Length: 1441, dtype: float64

In [7]:
df.describe()

count    1441.000000
mean      296.794761
std        46.942573
min       160.500000
25%       293.500000
50%       307.750000
75%       325.700012
max       360.600006
Name: High, dtype: float64

In [8]:
n = int(len(df)*0.8)
train = df[:n]
test = df[n:]

In [9]:
print(len(train))
print(len(test))

1152
289

In [10]:
from statsmodels.tsa.arima_model import ARIMA

In [11]:
model = ARIMA(df, order=(2,1,3))
result = model.fit(disp=0)

C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\Users\acer\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

In [12]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             ARIMA Model Results
==============================================================================
Dep. Variable:                 D.High   No. Observations:                 1440
Model:                 ARIMA(2, 1, 3)   Log Likelihood               -3615.293
Method:                       css-mle   S.D. of innovations              2.977
Date:                Mon, 11 Oct 2021   AIC                           7244.586
Time:                        10:34:02   BIC                           7281.492
Sample:                             1   HQIC                          7258.363

================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.1079      0.085      1.263      0.207      -0.060       0.275
ar.L1.D.High    -1.7969      0.003   -695.986      0.000      -1.802      -1.792
ar.L2.D.High    -0.9961      0.003   -392.436      0.000      -1.001      -0.991
ma.L1.D.High     1.8757      0.028     67.152      0.000       1.821       1.930
ma.L2.D.High     1.1528      0.050     23.020      0.000       1.055       1.251
ma.L3.D.High     0.1021      0.028      3.657      0.000       0.047       0.157
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -0.9020           -0.4363j            1.0019           -0.4283
AR.2           -0.9020           +0.4363j            1.0019            0.4283
MA.1           -0.9164           -0.4424j            1.0176           -0.4284
MA.2           -0.9164           +0.4424j            1.0176            0.4284
MA.3           -9.4597           -0.0000j            9.4597           -0.5000
-----------------------------------------------------------------------------
"""

In [13]:
step = 365 
fc , se, conf = result.forecast(step )

In [14]:
fc

array([341.72136375, 341.21669171, 342.39530674, 341.18937623,
       342.59150325, 341.68247639, 342.32845194, 342.48240815,
       341.97151649, 343.1454015 , 341.95416585, 343.33459923,
       342.44991604, 343.07375765, 343.24323739, 342.72649936,
       343.89542654, 342.71892329, 344.07782249, 343.21715904,
       343.81928995, 344.00385536, 343.48163613, 344.64538546,
       343.48364622, 344.82117361, 343.98420665, 344.56504597,
       344.76426596, 344.23692269, 345.39528179, 344.24833242,
       345.5646531 , 344.7510602 , 345.31102284, 345.52447302,
       344.992355  , 346.14511898, 345.01297971, 346.30826141,
       345.51772102, 346.05721769, 346.28448035, 345.74792905,
       346.89490041, 345.77758599, 347.05199894, 346.28419049,
       346.80362767, 347.04429173, 346.50364092, 347.64462939,
       346.54214924, 347.79586604, 347.05046999, 347.55024993,
       347.80391089, 347.25948674, 348.39430915, 347.30666751,
       348.53986301, 347.81656096, 348.29708163, 348.56334154,
       348.01546269, 349.14394286, 348.0711389 , 349.28399008,
       348.58246483, 349.04411991, 349.32258733, 348.77156502,
       349.89353361, 348.83556159, 350.02824745, 349.34818308,
       349.79136194, 350.08165189, 349.52779004, 350.64308443,
       349.59993382, 350.77263527, 350.11371719, 350.53880491,
       350.8405388 , 350.28413411, 351.39259828, 350.3642539 ,
       351.51715362, 350.87906868, 351.286446  , 351.59925163,
       351.04059365, 352.14207805, 351.1285202 , 352.26180257,
       351.64423908, 352.0342824 , 352.35779389, 351.79716514,
       352.89152657, 351.89273114, 353.00658212, 352.40922995,
       352.78231132, 353.11616905, 352.55384512, 353.64094658,
       352.65688522, 353.75149223, 353.17404286, 353.53052997,
       353.87438055, 353.31063019, 354.39034079, 353.420981  ,
       354.49653281, 353.93867938, 354.27893559, 354.63243179,
       354.06751699, 355.13971184, 354.18501707, 355.24170376,
       354.70314113, 355.0275254 , 355.39032614, 354.82450223,
       355.88906227, 354.9489921 , 355.98700491, 355.46742973,
       355.77629667, 356.14806691, 355.58158268, 356.63839461,
       355.71290482, 356.73243605, 356.2315468 , 356.52524665,
       356.9056574 , 356.33875515, 357.38771129, 356.47675401,
       357.47799696, 356.99549399, 357.27437264, 357.66310085,
       357.09601651, 358.1370147 , 357.2405385 , 358.22368735,
       357.75927296, 358.02367192, 358.42040048, 357.8533637 ,
       358.88630717, 358.00425717, 358.96950691, 358.52288538,
       358.77314181, 359.17755945, 358.61079369, 359.63559095,
       358.76790895, 359.7154553 , 359.28633293, 359.52277962,
       359.93458089, 359.36830352, 360.38486826, 359.53149284,
       360.46153214, 360.0496173 , 360.27258271, 360.69146791,
       360.12589028, 361.13414124, 360.29500788, 361.20773702,
       360.81274019, 361.02254842, 361.44822355, 360.88355111,
       361.88341199, 361.05845314, 361.9540695 , 361.5757033 ,
       361.77267414, 362.20485084, 361.6412832 , 362.63268254,
       361.82182777, 362.70052909, 362.33850835, 362.52295725,
       362.96135275, 362.3990838 , 363.38195489, 362.58513094,
       363.4471153 , 363.10115705, 363.27339517, 363.71773223,
       363.15695019, 364.13123096, 363.34836188, 364.1938276 ,
       363.86365115, 364.02398532, 364.47399217, 363.91487974,
       364.88051262, 364.11151986, 364.94066542, 364.62599236,
       364.77472514, 365.23013545, 364.67286984, 365.6298017 ,
       364.8746042 , 365.68762818, 365.38818242, 365.52561211,
       365.98616488, 365.43091792, 366.37909997, 365.63761426,
       366.43471527, 366.15022308, 366.27664371, 366.74208325,
       366.1890215 , 367.12840916, 366.40054943, 367.18192605,
       366.91211607, 367.02781744, 367.49789333, 366.94717811,
       367.87773093, 367.16340915, 367.92925986, 367.67386315,
       367.77913082, 368.25359781, 367.70538535, 368.62706691,
       367.92619291, 368.67671601, 368.43546604, 368.5305814 ,
       369.00919937, 368.46364086, 369.37641867, 368.68890024,
       369.42429379, 369.19692652, 369.28216674, 369.76470065,
       369.22194232, 370.12578775, 369.45153067, 370.17199249,
       369.95824631, 370.03388442, 370.52010425, 369.98028748,
       370.87517561, 370.21408383, 370.91981135, 370.71942718,
       370.78573206, 371.27541273, 370.73867411, 371.62458369,
       370.97655933, 371.6677496 , 371.48047086, 371.53770728,
       372.03062862, 371.49710005, 372.37401339, 371.73895684,
       372.41580645, 372.2413791 , 372.28980772, 372.78575439,
       372.25556316, 373.12346605, 372.50127607, 373.16398109,
       373.00215366, 373.04203105, 373.54079252, 373.01406137,
       373.87294296, 373.26351676, 373.91227271, 373.76279626,
       373.79437497, 374.2957454 , 373.77259263, 374.62244538,
       374.02567868, 374.66068047, 374.52330865, 374.54683719,
       375.05061541, 374.53115495, 375.37197453, 374.78776163,
       375.4092035 , 375.28369256, 375.29941544, 375.8054049 ,
       375.28974638, 376.12153159, 375.54976544, 376.15784093,
       376.04394972, 376.05210748, 376.56011618, 376.04836501,
       376.87111768, 376.31168998, 376.90659188, 376.80408187,
       376.8049111 , 377.3147515 , 376.80700898, 377.62073389,
       377.07353516, 377.65545544, 377.56409072, 377.55782408,
       378.06931311, 377.56567647, 378.37038129, 377.83530088,
       378.40443071, 378.32397799, 378.31084426, 378.8238032 ,
       378.32436568, 379.12006088, 378.5969871 , 379.15351676,
       379.0837454 , 379.06396949, 379.57822394, 379.08307487,
       379.86977365, 379.35859382, 379.90271264, 379.84339464,
       379.81719763, 380.33257745, 379.84180235, 380.61952052,
       380.12012102, 380.65201741, 380.60292742, 380.57052659,
       381.08686583])

In [15]:
se

array([ 2.97716489,  4.37926204,  5.45755515,  6.34989598,  7.11986405,
        7.8378576 ,  8.46619586,  9.07993398,  9.63143619, 10.16696169,
       10.6726912 , 11.1479465 , 11.61959346, 12.05249387, 12.49106697,
       12.89771239, 13.30222522, 13.69274595, 14.06630104, 14.44291241,
       14.79353144, 15.15282727, 15.48990658, 15.82817644, 16.15784783,
       16.47558221, 16.79822361, 17.1007125 , 17.4123366 , 17.70658722,
       18.00313957, 18.29373136, 18.5749473 , 18.8616741 , 19.13164916,
       19.41058046, 19.67508741, 19.94228659, 20.20507308, 20.4600196 ,
       20.72064247, 20.96677061, 21.22149103, 21.46380002, 21.70890261,
       21.95060739, 22.18549114, 22.42603719, 22.65371457, 22.88957433,
       23.1145014 , 23.34219382, 23.56720542, 23.78612023, 24.0106042 ,
       24.22345854, 24.44408789, 24.65492771, 24.86844339, 25.07981265,
       25.28562636, 25.49688095, 25.69748925, 25.90548484, 26.10460823,
       26.30628916, 26.50623819, 26.70105194, 26.90116394, 27.0914344 ,
       27.28872939, 27.47790951, 27.66951631, 27.85972284, 28.04513043,
       28.2356896 , 28.4170818 , 28.60516139, 28.78576531, 28.96866117,
       29.15042861, 29.32767297, 29.50992342, 29.68358332, 29.86361778,
       30.03672577, 30.21199172, 30.3863565 , 30.55642912, 30.73136613,
       30.89821292, 31.07114387, 31.2376271 , 31.40613757, 31.57393989,
       31.73764673, 31.90608129, 32.06686563, 32.23346406, 32.39403715,
       32.55651136, 32.71844356, 32.87645026, 33.03905358, 33.19439787,
       33.35530456, 33.51056233, 33.66760033, 33.82424088, 33.97710476,
       34.13443982, 34.28486694, 34.44062128, 34.59106508, 34.7431737 ,
       34.89501184, 35.04320508, 35.19574957, 35.34170379, 35.49276496,
       35.63882201, 35.78643395, 35.93388779, 36.07781461, 36.22597802,
       36.3678406 , 36.51460333, 36.65664119, 36.80012939, 36.94355962,
       37.08356918, 37.22770571, 37.36580674, 37.50861331, 37.64695092,
       37.7866395 , 37.92635984, 38.06275626, 38.2031747 , 38.33780223,
       38.47695174, 38.61186798, 38.74804076, 38.88432609, 39.01737614,
       39.15434767, 39.28575482, 39.42151047, 39.55325083, 39.68615803,
       39.81925081, 39.94919006, 40.08295433, 40.21136496, 40.3439598 ,
       40.47274175, 40.60260528, 40.73272067, 40.85975835, 40.99052842,
       41.11614162, 41.2457832 , 41.37180044, 41.49881823, 41.62614818,
       41.75047114, 41.87843743, 42.00143122, 42.1283053 , 42.25173127,
       42.37608072, 42.50079735, 42.62257328, 42.74790678, 42.86844111,
       42.99271477, 43.11370546, 43.23554632, 43.35780467, 43.47718473,
       43.60003968, 43.71825887, 43.84008303, 43.95877936, 44.07825612,
       44.19819642, 44.31531743, 44.43583356, 44.55186835, 44.67137989,
       44.78790967, 44.90515347, 45.02290307, 45.13788935, 45.25619369,
       45.370163  , 45.4874865 , 45.60196607, 45.71709642, 45.83277136,
       45.94573628, 46.06194474, 46.17395706, 46.28920633, 46.40174195,
       46.5148681 , 46.62857449, 46.73962176, 46.85384043, 46.96399511,
       47.07727443, 47.18796345, 47.2991856 , 47.41102076, 47.52024555,
       47.63257185, 47.7409601 , 47.85236529, 47.96129719, 48.07070749,
       48.18076092, 48.28825083, 48.39877445, 48.50548026, 48.61509966,
       48.72235687, 48.8300403 , 48.93839457, 49.04423041, 49.15303416,
       49.25813507, 49.36605028, 49.47170897, 49.57774411, 49.68447557,
       49.7887321 , 49.89589262, 49.99946039, 50.10574701, 50.20987772,
       50.31433738, 50.41951679, 50.52226332, 50.62785172, 50.72995293,
       50.83468113, 50.93734933, 51.04030116, 51.14399425, 51.2452952 ,
       51.34937758, 51.45007411, 51.55330919, 51.65457577, 51.75608275,
       51.85835071, 51.95826607, 52.06090401, 52.16025351, 52.26205635,
       52.36197808, 52.46209894, 52.56299884, 52.66158457, 52.76283557,
       52.86089184, 52.96131931, 53.0599492 , 53.15873882, 53.25832401,
       53.35563243, 53.45555026, 53.55236362, 53.65146891, 53.74885656,
       53.84636633, 53.94468675, 54.04076684, 54.13940188, 54.23501946,
       54.33285247, 54.42904434, 54.52532245, 54.62242493, 54.71732264,
       54.81472217, 54.90918819, 55.00579575, 55.10083549, 55.19592718,
       55.29185572, 55.38561423, 55.48182268, 55.57517869, 55.67060485,
       55.76453347, 55.85848132, 55.95327731, 56.04593722, 56.14099643,
       56.23328155, 56.32756779, 56.42042391, 56.51326804, 56.60697046,
       56.69857006, 56.79251946, 56.88377053, 56.97695599, 57.06877603,
       57.16055427, 57.25319991, 57.34377531, 57.43665213, 57.52690395,
       57.61902557, 57.70984391, 57.80059201, 57.89221563, 57.98180093,
       58.07364037, 58.16292581, 58.25401853, 58.34386768, 58.43361944,
       58.52425392, 58.61288141, 58.70371677, 58.79206692, 58.88216384,
       58.97107456, 59.059862  , 59.14953848, 59.23723871, 59.32710156,
       59.41454589, 59.50367837, 59.59167981, 59.67953329, 59.76828128,
       59.85508323, 59.94400352, 60.03056996, 60.11876776, 60.20588759,
       60.29283591, 60.38068344, 60.46661463, 60.55462079, 60.64033586,
       60.72762726, 60.81389175, 60.8999623 , 60.986936  , 61.07202256,
       61.15914162, 61.24403054, 61.33044243, 61.41587655, 61.50109535,
       61.58722056, 61.67148736, 61.75774506, 61.8418318 , 61.92738978])

In [16]:
mse = np.mean(se)
mse

41.350053547133136

In [17]:
rmse = np.sqrt(mse)
rmse

6.430400729902697

In [18]:
#df_d=df.to_numpy()

In [19]:
#df_d

In [20]:
#df_d=np.concatenate((df_d,fc))

In [21]:
#plt.plot(df_d)
#plt.plot(df)

#plt.show()

In [22]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [ ]:
#df_d

In [ ]:
fig = px.line(df)
fig.show()
fig = px.line(fc)
fig.show()

In [ ]:
dffc= pd.DataFrame(data=fc)
dffc