In [1]:
from pandas_datareader import data as pdr
import pandas as pd
from datetime import date

import yfinance as yf
#yf.pdr_override()  # <== that's all it takes :-)

sym = "INFY"

In [ ]:
# download dataframe
data = pdr.get_data_yahoo(sym+".NS", start=date(2019,8,13),end=date(2021,9,13))
df = pd.DataFrame(data)
df.to_csv(sym+".csv")

In [4]:
data = yf.download(tickers='IRCTC.NS', period='1y', interval='1h')
data.to_csv("IRCTC.csv")

[*********************100%***********************]  1 of 1 completed

In [9]:
data = yf.download(tickers='IRCTC.NS', period='1y', interval='1d')
data.to_json("IRCTC.json")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-26,1329.000000,1331.000000,1318.000000,1320.650024,1318.869141,159573
2020-10-27,1326.000000,1328.900024,1297.050049,1326.000000,1324.211914,214182
2020-10-28,1324.000000,1339.000000,1310.000000,1333.349976,1331.552002,185005
2020-10-29,1310.000000,1340.000000,1310.000000,1330.599976,1328.805664,165775
2020-10-30,1322.800049,1329.449951,1310.000000,1315.199951,1313.426392,116348
...,...,...,...,...,...,...
2021-10-19,6175.000000,6396.299805,4996.049805,5454.850098,5454.850098,14861150
2021-10-20,4909.399902,4999.799805,4377.299805,4434.350098,4434.350098,19666785
2021-10-21,4440.700195,4750.000000,4414.100098,4573.250000,4573.250000,9272239
2021-10-22,4628.000000,4680.000000,4450.049805,4622.549805,4622.549805,5604504
2021-10-25,4685.000000,4685.000000,3961.100098,4022.350098,4022.350098,7769042

In [8]:
var = yf.Ticker("IRCTC.NS")

In [11]:
var.history(period="1m")

- IRCTC.NS: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []